.about {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  min-height: 100vh;
  padding: 4em 3em;
}
.about h1 {
  position: relative;
}
.about h1::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #82858b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.detailed-info {
  display: flex;
  flex: 1 1 65%;
  gap: 1em;
}
.detailed-info-img {
  flex: 1 1 auto;
  background-size: cover;
  background-position: center;
}
.my-info {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  gap: 1em;
}
.my-info > * {
  flex-basis: 100%;
}
.my-info ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.ul-flex-item {
  flex-basis: calc((100% - 1em) / 2);
}
.ul-flex-item::before {
  content: "›";
  margin-right: 0.5em;
}
@media (max-width: 1130px) {
  .detailed-info {
    flex-direction: column;
  }
  .detailed-info-img {
    width: auto;
    height: 80vh;
  }
}
@media (max-width: 900px) {
  .about {
    font-size: 1.2em;
  }
}
@media (max-width: 600px) {
  .about {
    font-size: 1.3em;
  }
  .ul-flex-item {
    flex-basis: 100%;
  }
}
