.contact-page {
  padding: 4em 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.contact-page h1 {
  position: relative;
}
.contact-page h1::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #82858b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.contacts-location {
  flex-basis: calc(40% - 2em);
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add your desired shadow properties */
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.contacts-location-img {
  width: auto;
  height: 200px;
  background-position: center;
  background-size: cover;
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  flex-basis: 100%;
  justify-content: center;
}
.contacts > * {
  padding: 2em 2em;
}
.contacts .contacts-form {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
.contacts-form {
  display: flex;
  gap: 1em;
  flex-basis: 60%;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.contacts-form :nth-child(1),
.contacts-form :nth-child(2) {
  flex-basis: calc((100% - 1em) / 2);
}
.contacts-form :nth-child(3),
.contacts-form :nth-child(4) {
  flex-basis: 100%;
}
.button {
  width: 15em;
  border-radius: 5px;
  background-color: #1c1d1f;
  color: rgb(197, 197, 197);
  transition: transform 0.5s ease;
}
.button:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
  color: white;
  background-color: #383a3d;
}
.button:active {
  transition: transform 0.5s ease;
  transform: scale(1);
}
textarea {
  width: 100%;
  resize: none;
  border: 1px solid lightgray;
}
input {
  width: 100%;
  height: 40px;
  border: 1px solid lightgray;
}
@media (max-width: 1270px) {
  .contacts-location {
    flex-basis: 100%;
  }
  .contacts-form {
    flex-basis: 100%;
  }
}
@media (max-width: 900px) {
}
@media (max-width: 600px) {
}
