.home {
  position: relative;
  padding: 1em;
  height: 100dvh;
  background-position: center;
  background-size: cover;
  color: rgb(197, 197, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 2em;
}
.home p {
  margin-right: 0.3em;
}
