.header {
  background-color: #1c1d1f;
  padding: 1em 4em;
  min-height: 100vh;
  color: rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
}

.header footer {
  font-size: 0.8em;
}
.nav a {
  color: inherit;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.nav li a {
  display: flex;
  align-items: center;
  gap: 0.2em;
  transition: transform 0.5s ease;
}

.header-profile ul {
  display: flex;
}
.header-profile a {
  color: inherit;
}
.header-profile img {
  height: 220px;
  border-radius: 50%;
}
.header-profile ul {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  font-size: 1.8em;
}
.header-profile ul li {
  transition: transform 0.5s ease;
}
.header-profile ul li:hover {
  transition: transform 0.5s ease;
  transform: scale(1.5);
  color: white;
}
.nav .active {
  color: white;
  transform: scale(1.3);
  transition: transform 0.5s ease;
}
